

* {
    background-color: blanchedalmond
}


h1 { background-color: yellow;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.Img {
    background: BLACK;
    align-content: center; 
}

p {
    font-size: 35px;
    text-align: center;
}